body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    
    background: linear-gradient(180deg, rgb(227, 255, 248, 0) 82.08%, rgb(227, 255, 248, 0.38) 100%);
  
    min-height: 100vh;
  }


  .page {
    text-align: center;
    margin: auto;
    width: 1280px;
    height: 720px;
    padding-top: 65px;
  }
  
  header {
    margin: auto;
    width: 1006px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-bottom: 106px;
  }
  
  ul {
  
    width: 268px;
    height: 23px;
    gap:48px;
    display: flex;
    list-style: none;
    
    margin: 0;
    padding: 0;
  }

  a {
    color: #1f1534;
    text-decoration: none;
  }
  
  ul li a {
      opacity: 0.5;
  }
  
  ul li a:hover {
    font-weight: bold;
    opacity: 1;
  }
  
  main{
    margin: auto;
    width: 1009px;
    height: 434px;
  }

  h1,
  ul {
    font-family: "Mulish", sans-serif;
  }
  
  h1 {
    font-size: 49px;
    line-height: 56px;
    color: #1f1534;
    text-align: left;
  
    font-weight: normal;
  
    width: 490px;
    height: 112px;

    margin-bottom: 40px;
  }
  
  h1 span {
    color: #89c5cc;
    font-weight: bold;
  }
 main{
  display: flex;
  justify-content: space-between;
 }

  section p {
    text-align: left;
    font-size: 14px;
    line-height: 28px;
    color: #7d7987;
  
    width: 438px;
    height: 84px;
    margin: 40px 0;

    margin-bottom: 40px;
  }
  
  button {
    color: white;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
  
    background: #69B99D;
    border: 0;
    padding: 14px 32px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  
    border-radius: 4px;

    margin-bottom: 50px;
  
    cursor: pointer;
  }
  
  button:hover {
      background: #4EA788;
  }
  
  footer {
    font-size: 14px;
    line-height: 28px;
    width: 593px;
    height: 28px;
    margin: auto;
  
    text-align: center;
  
    margin-top: 82px;
  }
  
  footer a {
    font-weight: bold;
  }
  
  #balls {
      position: fixed;
      bottom: 0;
      right: 0;
  }
  